<div class="card flex justify-content-center">
  <input type="text" pInputText formControlName="text" />
</div>

<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <p-inputText formControlName="email" placeholder="Email"></p-inputText>

  <p-fileUpload
    formControlName="photoURL"
    name="photoURL"
    auto="auto"
    chooseLabel="Select Photo"
  ></p-fileUpload>

  <p-inputText
    formControlName="displayName"
    placeholder="Display Name"
  ></p-inputText>

  <p-dropdown
    formControlName="role"
    [options]="roles"
    placeholder="Select a Role"
  ></p-dropdown>

  <button pButton type="submit" label="Submit"></button>
</form> -->
