<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="flex gap-3 m-2">
    <input
      pInputText
      class="flex-grow-1"
      type="text"
      name="displayName"
      [(ngModel)]="user.displayName"
      placeholder="Display Name"
      required
    />

    <input
      pInputText
      class="flex-grow-1"
      type="text"
      name="email"
      [(ngModel)]="user.email"
      placeholder="Email"
      required
      email
    />

    <p-dropdown
      name="role"
      [options]="roles"
      [(ngModel)]="user.role"
      placeholder="Role"
      [ngClass]="{
        'ng-dirty': !user.role,
        'ng-invalid': !user.role
      }"
    ></p-dropdown>
  </div>

  <p-fileUpload
    #fileUpload
    mode="advanced"
    chooseLabel="Select Photo"
    name="photoURL"
    accept="image/*"
    [maxFileSize]="maxImageSize"
    [showUploadButton]="false"
    [showCancelButton]="false"
    (onSelect)="onFileSelect($event)"
    (onRemove)="onFileRemove($event)"
  ></p-fileUpload>

  <div class="flex gap-3 m-2 justify-content-center">
    <p-button
      type="reset"
      [text]="true"
      label="Discard"
      severity="secondary"
      (click)="resetForm()"
    ></p-button>

    <p-button
      type="submit"
      label="Submit"
      [disabled]="!userForm.valid || selectedFile == null"
    ></p-button>
  </div>
</form>
