.customer-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

  &.status-ADMIN {
    // blue
    background: #2196f3;
    color: #fff;
  }

  &.status-EDITOR {
    background: #e0e0e0;
    color: #424242;
  }
}
