<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Tasks Completed</span>
          <div class="text-900 font-medium text-xl">76</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-check-square text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">15 new </span>
      <span class="text-500">since yesterday</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Sales</span>
          <div class="text-900 font-medium text-xl">$4,560</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-wallet text-orange-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">%18+ </span>
      <span class="text-500">since last month</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Active Users</span>
          <div class="text-900 font-medium text-xl">1032</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-users text-cyan-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">89 </span>
      <span class="text-500">joined this week</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Support Tickets</span>
          <div class="text-900 font-medium text-xl">47 Pending</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-question-circle text-purple-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">12 </span>
      <span class="text-500">resolved today</span>
    </div>
  </div>
</div>
